.cource-btn{
    background-color: #0ed607;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
    margin-left: 400px;
}